# Base URL of the application (e.g., http://localhost:3000)
APP_BASE_URL=http://localhost:3000

# Redirect URL after authentication (usually <APP_BASE_URL>/callback)
APP_REDIRECT_URL=http://localhost:3000/callback

# The App ID registered in Logto dashboard
SSO_APP_ID=sampleId

# Your Logto endpoint URL
SSO_ENDPOINT=https://10.15.38.55:3001
